In [2]:
from lxml import html
import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd
import pickle
import numpy as np

import nltk
import gensim

# Main working parts

First, need to scrape for the data. In this case, I scrape only for American restaurants in San Francisco, and later hope to get more data. 

Cory taught me to use the headers, otherwise sites seem to block me from scraping their data.

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

url = 'http://sanfrancisco.menupages.com/restaurants/all-areas/all-neighborhoods/american/'
page = requests.get(url,headers=headers)

I need to scrape for restaurant menus. The first thing I need to do is obtain unique identifiers to append to the menu url to get the data for each restaurant.

After some exploration, I found that the url for each restaurant can be found between the strings "restaurants/" and "/" in the html data. I then managed to use re to extract all the data, and store it in a variable called rests.

In [ ]:
rests = re.findall(r'restaurants/(.+?)/',page.content)

I then found that there is an entry called advertise in there. I'm not sure how many there are, so I remove anything that looks like advertise and store it in a variable called amrests. I verified that I have 630 results for American restaurants on menupages, and exactly 630 entries in my list.

In [ ]:
regex = re.compile(r"advertise")
amrests = [i for i in rests if not regex.search(i)]

I then want to obtain the restaurant names. I find that the names lie between the strings " "\'> " and " < / a > " (without the quotations and the spaces). I extract them and store them in a list called names. Once I remove all the empty strings, I verify that there are 630 names in this list as well.

Sanity check later: Ensure all names are unique

In [ ]:
names = re.findall(r'"\'>(.*?)</a>',page.content)
names = [i for i in names if i]

I then wanted to pull the addresses of the restaurants. I found (somewhat) that these addresses lay between " < br / > " and the pipe symbol " | ". To reference the pipe symbol in re, I had to use a backslash, which took a while to figure out and gives a hint for gotchas in the future.

*I only got 619 addresses, so there is some inconsistency. For now, I think it's ok because for MVP I'm not looking to find the nearest restaurant, just a restaurant. Very important to come back to this later.*

In [ ]:
adds = re.findall(r'<br/> (.+?) \|',page.content)

Using the menu urls, I scrape the menupages websites and extract the menus. For american restaurants, there are 630 menus and this takes roughly 10 minutes to get through. I store the resuls in a hashtable (dictionary)

In [ ]:
menu_dict = {}
t0 = time.time()

for i in amrests:
    url = 'http://sanfrancisco.menupages.com/restaurants/' + i + '/menu'
    menu_dict[i] = requests.get(url,headers=headers).content
t1 = time.time()
totalt = t1-t0
print totalt

As a sanity check, I ensure that there are 630 menus

In [ ]:
len(menu_dict)

I store the messy menu html files in a pandas dataframe

In [ ]:
amrest_df = pd.DataFrame(menu_dict.items())

With a view towards more categories, I categorize all of these items as American food. However, this will probably not be useful for MVP.

In [ ]:
amrest_df.loc[:,'Type'] = 'American'

I needed to go home, so I pickled the dataframe, and also the page html content, restuarant urls, names and addresses. On Monday, I modified the dataframe, added names etc

In [ ]:
#zip(amrests,names)
#amrest_df = amrest_df.rename(columns={0:'URL',1:'HTML_Menu'})
#amrest_df['Names'] = amrest_df['URL']
#amrest_df.head()
# name_url_dict = {}
# for i,j in enumerate(amrests):
#     name_url_dict[j] = names[i]
#amrest_df['Names'] = amrest_df['Names'].map(name_url_dict)
amrest_df.tail()

In [ ]:
amrest_df.to_pickle('amrest_df')

In [ ]:
# obj0, obj1, obj2 are created here...
# page_content = page.content
# Saving the objects:
# with open('objs.pickle', 'w') as f:  # Python 3: open(..., 'wb')
#     pickle.dump([page_content, rests, names, adds], f)

# Getting back the objects:
with open('objs.pickle') as f:  # Python 3: open(..., 'rb')
    page_content, rests, names, adds = pickle.load(f)

*Noise in present manner of data extraction (need to address later)*
    
1) Not taking into account the context (sometimes the price is listed as bacon for \$9.49 but really it's meant to be a 2 egg breakfast for \$9.49. This is pertinent in It's Top's Coffee Shop
menu. Need a better way of handling this in the data
    
2) Some prices are in title. When price is non existent, need to pull from title (See It's Top's Coffee Shop House omlettes \$7.95)

3) Some items have weird pricing (See It's Top's Coffee Shop Side of eggs)

4) Need to add context (Side of eggs vs breakfast consisting of eggs). This can be obtained from headers.

5) Can extract more ingredients from description, but this will require manipulation of code to extract headers (see above) and text below headers

##### Extracting menu item, description and price from the garbled HTML data

In [ ]:
menu_df_dict ={}

regexp_menu_item = r'<cite>(.+?)</cite>'
el_menu_item = 0
regexp_item_description = r'\xa0(.+?)</th>'
el_item_description = 0
regexp_price = r'\xa0(.+?)\r'
el_price = 1

menu_index_start = 2

for i in range(amrest_df.shape[0]):
    menu_html = amrest_df['HTML_Menu'][i]
    bs_menu = BeautifulSoup(menu_html,'html.parser')
    menu_items_list = bs_menu.find_all('tr')
    
    menu_item_list = createItemList(menu_items_list[menu_index_start:],regexp_menu_item,el_menu_item)
    item_description_list = createItemList(menu_items_list[menu_index_start:],regexp_item_description,el_item_description)
    price_list = createItemList(menu_items_list[menu_index_start:],regexp_price,el_price)
    
    menu_df_dict[amrest_df['URL'][i]] = pd.DataFrame(zip(menu_item_list,item_description_list,price_list),columns=['Menu Item','Item Description','Price'])
    
def createItemList(bsoup_list,regexp,element):
    new_list = []
    for y in [re.findall(regexp,str(x)) for x in bsoup_list]:
        try:
            new_list.append(y[element])
        except:
            new_list.append("")    
    
    return new_list

###### Pickle the data

In [2]:
amrest_df = pd.read_pickle('amrest_df')

# pickle.dump(menu_df_dict, open( "menu_df_dict.p", "wb" ) )

menu_df_dict = pickle.load( open( "menu_df_dict.p", "rb" ) )

###### Append the actual restaurant name, and the concatenated menu and item description strings to each menu dataframe that is associated with an individual restaurant

In [21]:
for i,j in zip(amrest_df['URL'],amrest_df['Names']):
    #menu_df_dict[i]['Menu Item + Description Text'] = menu_df_dict[i]['Menu Item'].map(str) + " " + menu_df_dict[i]['Item Description'].map(str)
    menu_df_dict[i]['Restaurant Name'] = j

###### Concatenate the entire dictionary of dataframes together in one "giant" dataframe.

In [24]:
all_amrests_df = pd.concat(menu_df_dict.values(), ignore_index=True)

# Save the dateframe. For this week, start from here

In [3]:
#all_amrests_df.to_pickle('all_amrests_df')
all_amrests_df = pd.read_pickle('all_amrests_df')

In [4]:
import string
# Remove punctuations
all_amrests_df['desc_list'] = all_amrests_df['Menu Item + Description Text'].apply(lambda x: x.translate(string.maketrans("",""), string.punctuation))
# Tokenize
all_amrests_df['desc_list'] = all_amrests_df['desc_list'].apply(lambda x: x.split())

In [5]:
# Remove stopwords, make everything lowercase
all_amrests_df['desc_list'] = all_amrests_df['desc_list'].apply(lambda x: [i.lower() for i in x if i.lower() not in nltk.corpus.stopwords.words('english')])

/home/harisk87/anaconda2/envs/my_projects_env/lib/python2.7/site-packages/ipykernel/__main__.py:2: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  from ipykernel import kernelapp as app

In [6]:
# Get a list of list of tokens
tokens_list = all_amrests_df.desc_list.tolist()

# Get WordNet Lemmatizer
from nltk.stem.wordnet import WordNetLemmatizer
lmtzr = WordNetLemmatizer()

# Lemmatize the tokens, so run, runs and running are all mapped to run
all_amrests_df['desc_list_lem'] = [[lmtzr.lemmatize(i.decode('utf-8')) for i in x] for x in tokens_list]

In [18]:
all_amrests_df.head(3)

,Menu Item,Item Description,Price,Menu Item + Description Text,Restaurant Name,desc_list,desc_list_lem
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",6.95,Two Egg Breakfasts with home-fried potatoes &a...,It&#39;s Top&#39;s Coffee Shop,"[two, egg, breakfasts, homefried, potatoes, am...","[two, egg, breakfast, homefried, potato, amp, ..."
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,1.59,Weekday Special add one buttermilk hot cake to...,It&#39;s Top&#39;s Coffee Shop,"[weekday, special, add, one, buttermilk, hot, ...","[weekday, special, add, one, buttermilk, hot, ..."
2,Bacon,,9.49,Bacon,It&#39;s Top&#39;s Coffee Shop,[bacon],[bacon]

In [8]:
# Extract the lemmatized tokens
tokens = all_amrests_df['desc_list_lem'].tolist()

In [9]:
# Vectorize the tokens using tf-idf

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False)
tfs = tfidf.fit_transform(tokens)

In [19]:
all_amrests_df['tfidf_vector'] = [i for i in tfs]

In [22]:
all_amrests_df.iloc[600].tfidf_vector

<1x18518 sparse matrix of type '<type 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

#### Get the cosine similarity between an input documents and the rest of the documents, pull out the top 5 that look the same

In [186]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
# 500 works well
# 300 also works very well
#250
# 40000 is interesting
# 30000 works
# 50 is an example of working poorly

cosine_similarities = cosine_similarity(tfs[50], tfs).flatten()
related_food_idcs = cosine_similarities.argsort()[:-6:-1]

cosine_similarities[related_food_idcs]

related_food_idcs

all_amrests_df.iloc[related_food_idcs][["Menu Item","Item Description","Restaurant Name"]]

      Menu Item Item Description                 Restaurant Name
50      Sausage        in waffle  It&#39;s Top&#39;s Coffee Shop
43212    Waffle                     Allstar Donuts &amp; Burgers
39557    Waffle                            Mission&#39;s Kitchen
46749    Waffle                                    Lakeside Cafe
44011    Waffle                         Seal Rock Inn Restaurant

##### Store results in a SQL database

In [6]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [7]:
dbname = 'rest_db'
username = 'harisk87'
pswd = '2PsWrD!'

In [8]:
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print engine.url

postgresql://harisk87:2PsWrD!@localhost/rest_db

In [9]:
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [27]:
pd_rest_table = all_amrests_df[["Menu Item","Item Description","Restaurant Name","Price","tfidf_vector"]]

In [28]:
#pd_rest_table = pd_rest_table.rename(columns={'MenuItem': 'Menu Item', 'ItemDescription': 'Item Description','RestaurantName' : 'Restaurant Name'})
pd_rest_table = pd_rest_table.replace({'Restaurant Name': {'It&#39;s Top&#39;s Coffee Shop': 'It\'s Tops Coffee Shop'}})
pd_rest_table.head()

,Menu Item,Item Description,Restaurant Name,Price,tfidf_vector
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",It's Tops Coffee Shop,6.95,"(0, 11190)\t0.280021822207\n (0, 5974)\t0.2..."
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,It's Tops Coffee Shop,1.59,"(0, 2998)\t0.288167280114\n (0, 8336)\t0.27..."
2,Bacon,,It's Tops Coffee Shop,9.49,"(0, 1481)\t1.0"
3,Cheese,"choice of: cheddar, american, monterey jack",It's Tops Coffee Shop,8.28,"(0, 8778)\t0.404589418384\n (0, 11039)\t0.5..."
4,Chicken-Apple Sausages,,It's Tops Coffee Shop,10.49,"(0, 14667)\t0.489158869139\n (0, 3790)\t0.8..."

In [6]:
pd_rest_table['Restaurant Name'] = [x.decode('utf-8') for x in pd_rest_table['Restaurant Name']]
pd_rest_table['Item Description'] = [x.decode('utf-8') for x in pd_rest_table['Item Description']]
pd_rest_table['Menu Item'] = [x.decode('utf-8') for x in pd_rest_table['Menu Item']]

In [3]:
#pd_rest_table.to_pickle('pd_rest_table')
pd_rest_table = pd.read_pickle('pd_rest_table')
## pd_rest_table contains decoded version of stuff
#pd_rest_table = pd.read_pickle('pd_rest_table')

In [10]:
#pd_rest_table['tfidf_vector'].apply(lambda x: x.todense())
#too big!
pd_rest_table = pd_rest_table[["Menu Item","Item Description","Restaurant Name","Price"]]

In [11]:
pd_rest_table.to_sql('rest_table', engine, if_exists='replace')

In [12]:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [13]:
sql_query = """
SELECT "Price" FROM rest_table;
"""
rest_data_from_sql = pd.read_sql_query(sql_query,con)

In [14]:
pd_rest_table

,Menu Item,Item Description,Restaurant Name,Price
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",It's Tops Coffee Shop,6.95
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,It's Tops Coffee Shop,1.59
2,Bacon,,It's Tops Coffee Shop,9.49
3,Cheese,"choice of: cheddar, american, monterey jack",It's Tops Coffee Shop,8.28
4,Chicken-Apple Sausages,,It's Tops Coffee Shop,10.49
5,Link Sausages,,It's Tops Coffee Shop,9.49
6,Ham,,It's Tops Coffee Shop,9.49
7,Corned Beef Hash,,It's Tops Coffee Shop,10.49
8,New York Steak,,It's Tops Coffee Shop,16.95
9,Hamburger Steak,with grilled onions,It's Tops Coffee Shop,10.95
10,Louisiana Hot Links,,It's Tops Coffee Shop,10.49
11,Pork Chops 'N' Applesauce,,It's Tops Coffee Shop,12.95
12,"Beef Liver, Bacon And Onions",,It's Tops Coffee Shop,12.95
13,Add An Egg To Breakfast,,It's Tops Coffee Shop,1.59
14,Classic,,It's Tops Coffee Shop,
15,Denver,,It's Tops Coffee Shop,
16,Louisiana,,It's Tops Coffee Shop,
17,Shella's,,It's Tops Coffee Shop,
18,Zesty,,It's Tops Coffee Shop,
19,Start With Plain,,It's Tops Coffee Shop,6.79
20,Bell Pepper &amp; Onion Saute,,It's Tops Coffee Shop,7.25
21,Cheese,,It's Tops Coffee Shop,1.49
22,Mushrooms,,It's Tops Coffee Shop,1.49
23,Avocado,,It's Tops Coffee Shop,1.49
24,Tomato,,It's Tops Coffee Shop,1.19
25,Sour Cream,,It's Tops Coffee Shop,1.19
26,Zucchini,,It's Tops Coffee Shop,1.19
27,Salsa,,It's Tops Coffee Shop,1.19
28,Bacon,,It's Tops Coffee Shop,2.79
29,Ham,,It's Tops Coffee Shop,2.79
...,...,...,...,...
51878,Blue Moon,,The Kezar Pub,
51879,Samuel Adams,,The Kezar Pub,
51880,Smithwicks,,The Kezar Pub,
51881,Carlsberg,,The Kezar Pub,
51882,Beer &amp; A Shot,beer of your choice and a shot.,The Kezar Pub,
51883,Budweiser,,The Kezar Pub,
51884,Coors,,The Kezar Pub,
51885,Bud Light,,The Kezar Pub,
51886,Coors Light,,The Kezar Pub,
51887,MGD,,The Kezar Pub,
51888,Miller Lite,,The Kezar Pub,
51889,Dos Equis,,The Kezar Pub,
51890,Corona,,The Kezar Pub,
51891,Heineken,,The Kezar Pub,
51892,Red Stripe,,The Kezar Pub,
51893,Heineken Light,,The Kezar Pub,
51894,Magners Cider,,The Kezar Pub,
51895,"Amstel Light, Becks",,The Kezar Pub,
51896,Smirnoff Ice,,The Kezar Pub,
51897,Wydera,,The Kezar Pub,
51898,Coke,,The Kezar Pub,
51899,Diet Coke,,The Kezar Pub,
51900,7-Up,,The Kezar Pub,
51901,Ginger Ale,,The Kezar Pub,
51902,Thomas Kemper Draught Root Beer,,The Kezar Pub,
51903,Orange,,The Kezar Pub,
51904,Cranberry,,The Kezar Pub,
51905,Grapefruit,,The Kezar Pub,
51906,Pineapple,,The Kezar Pub,
51907,Tomato,,The Kezar Pub,