In [1]:
from lxml import html
import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd
import pickle
import numpy as np

import nltk
import gensim

# Main working parts

First, need to scrape for the data. In this case, I scrape only for American restaurants in San Francisco, and later hope to get more data. 

Cory taught me to use the headers, otherwise sites seem to block me from scraping their data.

In [ ]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

url = 'http://sanfrancisco.menupages.com/restaurants/all-areas/all-neighborhoods/american/'
page = requests.get(url,headers=headers)

I need to scrape for restaurant menus. The first thing I need to do is obtain unique identifiers to append to the menu url to get the data for each restaurant.

After some exploration, I found that the url for each restaurant can be found between the strings "restaurants/" and "/" in the html data. I then managed to use re to extract all the data, and store it in a variable called rests.

In [ ]:
rests = re.findall(r'restaurants/(.+?)/',page.content)

I then found that there is an entry called advertise in there. I'm not sure how many there are, so I remove anything that looks like advertise and store it in a variable called amrests. I verified that I have 630 results for American restaurants on menupages, and exactly 630 entries in my list.

In [ ]:
regex = re.compile(r"advertise")
amrests = [i for i in rests if not regex.search(i)]

I then want to obtain the restaurant names. I find that the names lie between the strings " "\'> " and " < / a > " (without the quotations and the spaces). I extract them and store them in a list called names. Once I remove all the empty strings, I verify that there are 630 names in this list as well.

Sanity check later: Ensure all names are unique

In [ ]:
names = re.findall(r'"\'>(.*?)</a>',page.content)
names = [i for i in names if i]

I then wanted to pull the addresses of the restaurants. I found (somewhat) that these addresses lay between " < br / > " and the pipe symbol " | ". To reference the pipe symbol in re, I had to use a backslash, which took a while to figure out and gives a hint for gotchas in the future.

*I only got 619 addresses, so there is some inconsistency. For now, I think it's ok because for MVP I'm not looking to find the nearest restaurant, just a restaurant. Very important to come back to this later.*

In [ ]:
adds = re.findall(r'<br/> (.+?) \|',page.content)

Using the menu urls, I scrape the menupages websites and extract the menus. For american restaurants, there are 630 menus and this takes roughly 10 minutes to get through. I store the resuls in a hashtable (dictionary)

In [ ]:
menu_dict = {}
t0 = time.time()

for i in amrests:
    url = 'http://sanfrancisco.menupages.com/restaurants/' + i + '/menu'
    menu_dict[i] = requests.get(url,headers=headers).content
t1 = time.time()
totalt = t1-t0
print totalt

As a sanity check, I ensure that there are 630 menus

In [ ]:
len(menu_dict)

I store the messy menu html files in a pandas dataframe

In [ ]:
amrest_df = pd.DataFrame(menu_dict.items())

With a view towards more categories, I categorize all of these items as American food. However, this will probably not be useful for MVP.

In [ ]:
amrest_df.loc[:,'Type'] = 'American'

I needed to go home, so I pickled the dataframe, and also the page html content, restuarant urls, names and addresses. On Monday, I modified the dataframe, added names etc

In [ ]:
#zip(amrests,names)
#amrest_df = amrest_df.rename(columns={0:'URL',1:'HTML_Menu'})
#amrest_df['Names'] = amrest_df['URL']
#amrest_df.head()
# name_url_dict = {}
# for i,j in enumerate(amrests):
#     name_url_dict[j] = names[i]
#amrest_df['Names'] = amrest_df['Names'].map(name_url_dict)
amrest_df.tail()

In [ ]:
amrest_df.to_pickle('amrest_df')

In [ ]:
# obj0, obj1, obj2 are created here...
# page_content = page.content
# Saving the objects:
# with open('objs.pickle', 'w') as f:  # Python 3: open(..., 'wb')
#     pickle.dump([page_content, rests, names, adds], f)

# Getting back the objects:
with open('objs.pickle') as f:  # Python 3: open(..., 'rb')
    page_content, rests, names, adds = pickle.load(f)

*Noise in present manner of data extraction (need to address later)*
    
1) Not taking into account the context (sometimes the price is listed as bacon for \$9.49 but really it's meant to be a 2 egg breakfast for \$9.49. This is pertinent in It's Top's Coffee Shop
menu. Need a better way of handling this in the data
    
2) Some prices are in title. When price is non existent, need to pull from title (See It's Top's Coffee Shop House omlettes \$7.95)

3) Some items have weird pricing (See It's Top's Coffee Shop Side of eggs)

4) Need to add context (Side of eggs vs breakfast consisting of eggs). This can be obtained from headers.

5) Can extract more ingredients from description, but this will require manipulation of code to extract headers (see above) and text below headers

##### Extracting menu item, description and price from the garbled HTML data

In [ ]:
menu_df_dict ={}

regexp_menu_item = r'<cite>(.+?)</cite>'
el_menu_item = 0
regexp_item_description = r'\xa0(.+?)</th>'
el_item_description = 0
regexp_price = r'\xa0(.+?)\r'
el_price = 1

menu_index_start = 2

for i in range(amrest_df.shape[0]):
    menu_html = amrest_df['HTML_Menu'][i]
    bs_menu = BeautifulSoup(menu_html,'html.parser')
    menu_items_list = bs_menu.find_all('tr')
    
    menu_item_list = createItemList(menu_items_list[menu_index_start:],regexp_menu_item,el_menu_item)
    item_description_list = createItemList(menu_items_list[menu_index_start:],regexp_item_description,el_item_description)
    price_list = createItemList(menu_items_list[menu_index_start:],regexp_price,el_price)
    
    menu_df_dict[amrest_df['URL'][i]] = pd.DataFrame(zip(menu_item_list,item_description_list,price_list),columns=['Menu Item','Item Description','Price'])
    
def createItemList(bsoup_list,regexp,element):
    new_list = []
    for y in [re.findall(regexp,str(x)) for x in bsoup_list]:
        try:
            new_list.append(y[element])
        except:
            new_list.append("")    
    
    return new_list

###### Pickle the data

In [2]:
amrest_df = pd.read_pickle('amrest_df')

# pickle.dump(menu_df_dict, open( "menu_df_dict.p", "wb" ) )

menu_df_dict = pickle.load( open( "menu_df_dict.p", "rb" ) )

###### Append the actual restaurant name, and the concatenated menu and item description strings to each menu dataframe that is associated with an individual restaurant

In [21]:
for i,j in zip(amrest_df['URL'],amrest_df['Names']):
    #menu_df_dict[i]['Menu Item + Description Text'] = menu_df_dict[i]['Menu Item'].map(str) + " " + menu_df_dict[i]['Item Description'].map(str)
    menu_df_dict[i]['Restaurant Name'] = j

###### Concatenate the entire dictionary of dataframes together in one "giant" dataframe.

In [24]:
all_amrests_df = pd.concat(menu_df_dict.values(), ignore_index=True)

# Save the dateframe. For this week, start from here

In [37]:
#all_amrests_df.to_pickle('all_amrests_df')
all_amrests_df = pd.read_pickle('all_amrests_df')

In [38]:
import string
# Remove punctuations
all_amrests_df['desc_list'] = all_amrests_df['Menu Item + Description Text'].apply(lambda x: x.translate(string.maketrans("",""), string.punctuation))
# Tokenize
all_amrests_df['desc_list'] = all_amrests_df['desc_list'].apply(lambda x: x.split())

In [39]:
# Remove stopwords, make everything lowercase
all_amrests_df['desc_list'] = all_amrests_df['desc_list'].apply(lambda x: [i.lower() for i in x if i.lower() not in nltk.corpus.stopwords.words('english')])

/home/harisk87/anaconda2/envs/my_projects_env/lib/python2.7/site-packages/ipykernel/__main__.py:2: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  from ipykernel import kernelapp as app

In [40]:
# Get a list of list of tokens
tokens_list = all_amrests_df.desc_list.tolist()

# Get WordNet Lemmatizer
from nltk.stem.wordnet import WordNetLemmatizer
lmtzr = WordNetLemmatizer()

# Lemmatize the tokens, so run, runs and running are all mapped to run
all_amrests_df['desc_list_lem'] = [[lmtzr.lemmatize(i.decode('utf-8')) for i in x] for x in tokens_list]

In [18]:
all_amrests_df.head(3)

,Menu Item,Item Description,Price,Menu Item + Description Text,Restaurant Name,desc_list,desc_list_lem
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",6.95,Two Egg Breakfasts with home-fried potatoes &a...,It&#39;s Top&#39;s Coffee Shop,"[two, egg, breakfasts, homefried, potatoes, am...","[two, egg, breakfast, homefried, potato, amp, ..."
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,1.59,Weekday Special add one buttermilk hot cake to...,It&#39;s Top&#39;s Coffee Shop,"[weekday, special, add, one, buttermilk, hot, ...","[weekday, special, add, one, buttermilk, hot, ..."
2,Bacon,,9.49,Bacon,It&#39;s Top&#39;s Coffee Shop,[bacon],[bacon]

In [122]:
print sorted(pd_rest_table['Restaurant Name'].unique().tolist())

[u'1300 on Filmore', u'1760', u'18th Hour Cafe', u'20 Spot (Twenty Spot)', u'21st Amendment Brewery Cafe', u'5A5 Steak Lounge', u'7th Street Cafe', u'AQ', u'Alfred&#39;s Steakhouse', u'Alibi', u'Aliment', u'All Star Cafe', u'Allstar Donuts &amp; Burgers', u'Alta CA', u'Ame', u'American Cupcake', u'Anchor &amp; Hope', u'Andronico&#39;s Deli &amp; Market', u'Angelina&#39;s Cafe &amp; Deli', u'Anna&#39;s Teriyaki', u'Annabelle&#39;s Bar &amp; Bistro', u'Annie&#39;s Hot Dogs &amp; Pretzels', u'Antojitos Salvadorenos AMINTA', u'Antologia', u'Applebee&#39;s', u'Aracely', u'Archive Bar &amp; Kitchen', u'Art&#39;s Cafe', u'Artesano', u'Atlas Cafe', u'Aurea', u'Azucar Lounge', u'B Restaurant and Bar', u'Baby Blues BBQ', u'Bacon Bacon', u'Balboa Cafe', u'Balompie', u'Balompie Cafe 3', u'Bar 333 &amp; Bistro', u'Bar 888', u'Bar Agricole', u'Bar Jules', u'Bar Tartine', u'Bartlett Hall', u'Bay Watch Restaurant', u'Beach Chalet', u'Beach Street Grill', u'Beachside', u'Beautifull', u'Bechelli&#39;s Flower Market Cafe', u'Belly Burgers', u'Bender&#39;s Bar &amp; Grill', u'Bergerac', u'Bernal Star', u'Big 4 ( Big Four)', u'Big Chef Tom&#39;s Belly Burgers', u'Bin 38', u'Bin 55', u'Bistro 10UN', u'Bistro Boudin', u'Blackpoint Cafe', u'Blu Restaurant and Cafe', u'Blueprint Tap Room', u'Bluestem Brasserie', u'Bonanza Restaurant', u'Boogaloos', u'Boston Market', u'Boudin Sourdough Bakery &amp; Cafe', u'Boulettes Larder', u'Boulevard', u'Brasserie S&amp;P', u'Brickhouse Cafe', u'Bruno&#39;s', u'Buckhorn Grill', u'Buckshot', u'Bullitt', u'Butter', u'Cable 55', u'Cable Car City Pub &amp; Cafe', u'Caesar&#39;s Cafe &amp; Crepes', u'Cafe Encore', u'Cafe Flore', u'Cafe GoLo', u'Cafe La Taza', u'Cafe Leah 2', u'Cafe Lombard', u'Cafe Marlette', u'Cafe Mason', u'Cafe Meuse', u'Cafe Phoenix', u'Cafe Playfield', u'Cafe Prague', u'Cafe Rain Tree', u'Cafe Taboo', u'Cafe at the Opera', u'Caffe Museo', u'Caffe Union', u'California Crisp', u'Careme 350', u'Cassava Bakery &amp; Cafe', u'Causwell&#39;s', u'Cava 22', u'Central Kitchen', u'Chambers Eat &amp; Drink', u'Chestnut Diner', u'Chloe&#39;s Cafe', u'Cholo Soy', u'Chow Church', u'Chowder Hut Fresh Grill', u'Cigar Bar &amp; Grill', u'Circa', u'Citizens Band', u'City Club of San Francisco', u'Claudine', u'Clement Street Bar &amp; Grill', u'Clock Bar', u'Cobb&#39;s Comedy Club', u'Cockscomb', u'Commonwealth', u'Community Table', u'Comstock Saloon', u'Concordia Argonaut', u'Corner Bakery Cafe', u'Cove Cafe', u'Cowgirl Creamery Sidekick', u'Crave', u'Credo', u'Crepes On Cole', u'Cybelle&#39;s Front Room', u'Daily Grill', u'Dear Mom (Fogcutter)', u'Delancey Street', u'Delessio Market &amp; Bakery', u'Delicias Salvadorenas', u'Delideleon', u'Destino', u'Dirty Habit', u'Dobbs Ferry', u'Dottie&#39;s True Blue Cafe', u'Double Play', u'Dr. Teeth and the Electric Mayhem', u'Drake', u'Duboce Park Cafe', u'Due Drop In', u'Dux', u'Eagle Cafe', u'Eat Curbside', u'Eats', u'Eclipse Cafe', u'Eddie Rickenbacker&#39;s', u'Eden Lounge', u'Educated Palate', u'El Calamar', u'El Majahual Restaurant', u'El Nuevo Frutilandia', u'El Paraiso Cafe', u'El Perol Restaurant', u'El Porteno', u'El Salvador Restaurant', u'Eleven O One', u'Ella&#39;s', u'Elsy&#39;s Restaurant', u'Emo&#39;s Cafe', u'Epic Roasthouse', u'Esperpento', u'Eureka', u'EuroBistro', u'Fable', u'Farm:Table', u'Fat Angel', u'Fins On the Hoof', u'Firefly', u'Firewood Cafe', u'First Crush', u'Fish &amp; Farm', u'Fisherman&#39;s Pizzeria', u'Flats Cafe', u'Flipper&#39;s', u'Flour + Water', u'Fly Bar And Restaurant', u'Fog City', u'Foundation Cafe', u'Fountain Cafe', u'Frances', u'Fresca', u'Fresco Pizza &amp; Shawarma', u'Front Door Cafe', u'GS Riverside BBQ', u'Game', u'Garibaldi&#39;s', u'Gilberth&#39;s Rotisserie &amp; Grill', u'Globe', u'Go Streatery', u'Gold Club', u'Gold Coast Grill &amp; Catering', u'Green Heart Foods', u'Griddle Fresh', u'Grub', u'Grubstake', u'Grumpy&#39;s American Pub', u'Hamburger Haven', u'Hard Rock Cafe', u'Harris&#39;', u'Harrow', u'Harry Denton&#39;s Starlight Room', u'Harry&#39;s Bar', u'Harvey&#39;s', u'Hazel&#39;s Kitchen', u'Heirloom Cafe', u'Hella Vegan Eats', u'Heyday', u'Hi Dive', u'Hi Tops', u'Hillside Supper Club', u'Hillstone', u'Hoffman&#39;s', u'Hog &amp; Rocks', u'Hole in the Wall Pizza', u'Home Plate', u'Home Skillet', u'Honey Bistro', u'Hops &amp; Hominy', u'Hopwater Distribution', u'Horatius', u'Horizon Restaurant &amp; Lounge', u'Horner&#39;s Corner', u'Hotel Utah Saloon', u'House of Snacks', u'Howard&#39;s Cafe', u'Huxley', u'IHOP', u'Indigo', u'Ironside', u'Irving Street Cafe', u"It's Tops Coffee Shop", u'J &amp; V Restaurant and Catering', u'J Tu Cafe', u'JB&#39;s Place', u'Jacks Cannery Bar', u'Jake&#39;s Place', u'Jamber', u'Jasmin&#39;s Cafe &amp; Deli', u'Jasper&#39;s Corner Tap &amp; Kitchen', u'Javi&#39;s Mission Grill', u'Jillian&#39;s', u'Joanie&#39;s Happy Days Diner', u'Joe&#39;s Crab Shack', u'John&#39;s Grill', u'Johnny Rockets', u'Jones', u'Judy&#39;s Cafe', u'Kate O&#39;Briens', u'Kate&#39;s Kitchen', u'Kenny&#39;s Chinese &amp; American', u'Kezar Bar &amp; Restaurant', u'Kinfolk', u'Kitchen Story', u'Klyde Cafe &amp; Wine Bar', u'Knuckles Sports Bar &amp; Grill', u'La Fusion', u'La Galleria Cafe', u'La Paz', u'La Santaneca', u'La Santaneca De La Mission', u'LaLe', u'Lagos Pizza', u'Lakeside Cafe', u'Larry Flynt&#39;s Hustler Club', u'Las Palmeras', u'Las Tinajas', u'Last Drop Tavern', u'Laszlo Bar', u'Latin Grill Express', u'Lazy Bear', u'Lefty O&#39;Doul&#39;s', u'Level III', u'Library Bar', u'Lilah Belle&#39;s', u'Limon Rotisserie', u'Little Griddle', u'Little Wok', u'Local', u'Local: Mission Eatery', u'Lori&#39;s Diner', u'Los Panchos', u'Los Shucos Latin Hot Dogs', u'Los Yaquis', u'Louie&#39;s Bar &amp; Grill', u'Louis&#39; Restaurant', u'Louisiana Famous Fried Chicken', u'Luce', u'Lucky Strike Lanes', u'Luna Park', u'Luques', u'MKT', u'MaSo', u'Mabel&#39;s Just For You Cafe', u'Magnolia', u'Mahalo!', u'Mama&#39;s', u'Manhattan Hub', u'Manos Nouveau', u'Marengo', u'Market Street Grill', u'Marla Bakery', u'Marlowe', u'Mars Bar &amp; Restaurant', u'Martin Macks', u'Martita&#39;s Kitchen', u'Mason Pacific', u'Maven', u'Max&#39;s Market', u'Max&#39;s Opera Cafe', u'Mayes Oyster House', u'McCormick &amp; Kuleto&#39;s', u'Mi Lindo Peru', u'Michael Mina', u'Miller&#39;s East Coast Deli', u'Mission Beach Cafe', u'Mission Grille', u'Mission Rock Resort', u'Mission&#39;s Kitchen', u'Mo&#39;s', u'MoMo&#39;s', u'Mochica', u'Monk&#39;s Kettle', u'Monroe', u'Morning Due Cafe', u'Moss Room', u'Moulin Rouge', u'Mr. Pollo', u'MrCrave', u'Mum&#39;s', u'My Corner Cafe', u'Mymy Coffee Shop', u'Nena&#39;s Restaurant', u'New Village Cafe', u'Nickie&#39;s', u'Nico', u'Nob Hill Club', u'Nob Hill Grille', u'Noeteca', u'Noir', u'Nordstrom Cafe Bistro', u'Nova', u'O Izakaya Lounge', u'OZ Lounge', u'Old Skool Cafe', u'Olive', u'Olivo&#39;s', u'Olympic Flame Cafe', u'One Market', u'One Up', u'Oola', u'Opaque', u'Original Buffalo Wings', u'Original Joe&#39;s', u'Orphan Andy&#39;s', u'Our Court Cafe', u'Oye Managua', u'Palmer&#39;s Tavern', u'Panchita&#39;s', u'Parada 22', u'Paragon', u'Parallel 37', u'Park Chalet', u'Park Chow', u'Park Grill', u'Park Tavern', u'Parkside Tavern', u'Pat&#39;s Cafe', u'Patriot House', u'Pause', u'Pena Pachamama', u'Penthouse Club &amp; Restaurant', u'Per Diem', u'Perfect Hamburger', u'Perry&#39;s', u'Peter D&#39;s', u'Phoenix Bar &amp; Irish Gathering Place', u'Pica Pica Maize Kitchen ', u'Pier Market Seafood Restaurant', u'Pinecrest Diner', u'Piqueo&#39;s', u'Pisces California Cuisine', u'Pizza Zone &#39;N Grill', u'Players', u'Plow', u'Pluto&#39;s', u'Polker&#39;s Gourmet Burgers', u'Pollo Campero', u'Polo Grounds', u'Pomelo', u'Poquito', u'Pork Store Cafe', u'Portico', u'Presidio Cafe', u'Presidio Social Club', u'Prime Dip', u'Primo Patio Cafe', u'Proper Food', u'Prospect', u'Punjab', u'Radio Habana Social Club', u'Radish', u'Radius', u'Rainforest Cafe', u'Range', u'Red Balloon', u'Red Dog', u'Red Door Cafe', u'Red&#39;s Java House', u'Redford', u'Restaurant Gary Danko', u'Restaurant Seven Fifty (750)', u'Restaurant Usulutan', u'Restaurante La Carne Asada', u'Rhea&#39;s Cafe', u'Rich Table', u'Rickybobby', u'Rinconcito Nicaraguenses', u'Rinconcito Salvadoreno', u'Robber Baron', u'Rogue Ales Public House', u'Roxanne Cafe', u'Ruby Skye', u'Rumors', u'S &amp; R Lounge', u'SPQR', u'Sabor De San Miguel', u'Saison', u'Sally&#39;s', u'Salt House', u'Sam&#39;s', u'Sammy&#39;s Gourmet Deli &amp; Cafe', u'San Miguel', u'Sauce', u'Savor', u'Schilling Cafe', u'Sea Breeze Cafe', u'Seaglass', u'Seal Rock Inn Restaurant', u'Sears Fine Food', u'Serpentine', u'Sheba Piano Lounge', u'Silver Clouds', u'Sinbad&#39;s', u'Skate Bowl Diner', u'Slow Club', u'SoMa', u'SoMa Inn Cafe', u'Social Kitchen &amp; Brewery', u'Sofa', u'Soma Eats', u'Sons &amp; Daughters', u'South End Grill &amp; Bar', u'Southern Pacific Brewing Company', u'Sparrow', u'Spinnerie', u'Split Pea Seduction', u'Spruce', u'St. Vincent', u'Stacks', u'Starbelly', u'State Bird Provisions', u'Steep Brew', u'Steins', u'Stem', u'Stock in Trade', u'Stones Throw', u'Straw', u'Street', u'Stuffed', u'Sugar Bowl Bakery', u'Sun Rise Restaurant', u'Sunrise Cafe', u'Supperclub', u'Sutter Pub', u'Sweet Maple', u'Sweet Woodruff', u'Sydney Town Tavern', u'TAP415', u'TBD', u'TJ Cafe', u'Tadich Grill', u'Taps', u'Tarantino&#39;s Restaurant', u'Taverna Aventine', u'Ted&#39;s Sports Bar &amp; Grill', u'Tee Off Bar and Grill', u'Tempest', u'Tender Greens', u'Tennessee Grill', u'Thanh Thanh Cafe', u'The Alembic', u'The American Grilled Cheese Kitchen', u'The Aveline', u'The Bell Tower', u'The Blue Plate', u'The Brazen Head', u'The Brick Yard Restaurant &amp; Bar', u'The Brixton', u'The Bubble Lounge', u'The Burritt Room + Burritt Tavern', u'The Chameleon', u'The Cheesecake Factory', u'The Cliff House Bistro', u'The Commissary', u'The Condor Club', u'The Corner Store', u'The Cravery', u'The European', u'The Garden Court', u'The Great Steak and Potato Company', u'The Grill', u'The Grind Cafe', u'The Grove', u'The Grove Cafe Yerba Buena', u'The Grove Fillmore', u'The Holding Company', u'The Kezar Pub', u'The Liberties', u'The Living Room', u'The Mad Dog In The Fog', u'The Market Cafe', u'The Melt', u'The Mortimer', u'The New Spot', u'The Oak Room', u'The Pied Piper', u'The Plant', u'The Progress', u'The Pub', u'The Ramp', u'The Rotunda', u'The Royal Exchange', u'The Royale', u'The Seismic Joint', u'The Sentinel', u'The Showroom', u'The Social Study', u'The Square', u'The Taco Guys', u'The Terrace', u'The Tipsy Pig', u'The Tradesman', u'The Vestry', u'The View Lounge', u'The Vista Room', u'The Westwood', u'The Willows', u'Thermidor', u'Toast', u'Toast Eatery', u'Tommy&#39;s Joynt', u'Town Hall', u'Town&#39;s End Restaurant &amp; Bakery', u'Trace', u'Trick Dog', u'Triptych', u'Trou Normand', u'Twenty Five Lusk', u'Two Sisters Bar And Books', u'Tyger&#39;s Coffee Shop', u'Union Larder', u'Universal Bakery', u'Universal Cafe', u'Upcider', u'Urban Putt', u'V Cafe', u'VIP Coffee &amp; Cakes Shop', u'Velvet Cantina', u'Velvet Room', u'Venga Empanadas', u'Verbena', u'Victory Hall', u'Vinyl', u'Vitrine', u'Voodoo Van', u'Waterbar', u'Wexler&#39;s', u'WhipOut!', u'Whisk On Wheels', u'Wild Hare', u'Wing Wings', u'Wipeout', u'Wolfe&#39;s Lunch', u'Zeke&#39;s', u'Ziggy&#39;s Burgers', u'bin 480']

In [41]:
# Extract the lemmatized tokens
tokens = all_amrests_df['desc_list_lem'].tolist()

In [42]:
# Vectorize the tokens using tf-idf

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(tokenizer=lambda i:i, lowercase=False)
tfs = tfidf.fit_transform(tokens)

In [44]:
tfs
with open('tfidfmat.pickle', 'w') as f:  # Python 3: open(..., 'wb')
    pickle.dump(tfs, f)

In [13]:
all_amrests_df['tfidf_vector'] = [i for i in tfs]

In [22]:
all_amrests_df.iloc[600].tfidf_vector

<1x18518 sparse matrix of type '<type 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

#### Get the cosine similarity between an input documents and the rest of the documents, pull out the top 5 that look the same

In [131]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
# 500 works well
# 300 also works very well
#250
# 40000 is interesting
# 30000 works
# 50 is an example of working poorly

cosine_similarities = cosine_similarity(tfs[300], tfs).flatten()
related_food_idcs = cosine_similarities.argsort()[::-1][0:6]

#cosine_similarities[related_food_idcs]

print related_food_idcs

all_amrests_df.iloc[related_food_idcs][["Menu Item","Item Description","Restaurant Name"]]

[  300 21163   299 50615 36488 41791]

,Menu Item,Item Description,Restaurant Name
300,Baba Ganoush,Served with pita bread. Flame broiled eggplant...,Fresco Pizza &amp; Shawarma
21163,6. Baba Ghannouj,"eggplant dip made with tahini sauce, fresh gar...",SoMa Inn Cafe
299,Hummus,"Served with pita bread. Mashed chickpeas, mixe...",Fresco Pizza &amp; Shawarma
50615,Baba Ganoush And Hummus,garlic eggplant dip &amp; chick pea dip served...,Delancey Street
36488,Eggplant Baba Ganoush,"vadouvan flatbread, sumac",Fog City
41791,Mezze Platter,"Baba ganoush, hummus, feta, tunisian olives, c...",Kezar Bar &amp; Restaurant

In [114]:
pd_rest_table.iloc[18724]['Menu Item']

u'Smoked Trout Filet'

In [111]:
cosine_similarities.argsort()[::-1][1:6]

array([46696, 46716,   250,   232, 48957])

In [17]:
all_amrests_df.iloc[299]['Item Description']

'Served with pita bread. Mashed chickpeas, mixed with fresh lemon juice, minced garlic, olive oil and tahini.'

##### Store results in a SQL database

In [55]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

In [56]:
dbname = 'rest_db'
username = 'harisk87'
pswd = '2PsWrD!'

In [57]:
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print engine.url

postgresql://harisk87:2PsWrD!@localhost/rest_db

In [58]:
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [53]:
#pd_rest_table = pd_rest_table.rename(columns={'MenuItem': 'Menu Item', 'ItemDescription': 'Item Description','RestaurantName' : 'Restaurant Name'})
#pd_rest_table = pd_rest_table.replace({'Restaurant Name': {'It&#39;s Top&#39;s Coffee Shop': 'It\'s Tops Coffee Shop'}})
pd_rest_table.head()

,Menu Item,Item Description,Restaurant Name,Price
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",It's Tops Coffee Shop,6.95
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,It's Tops Coffee Shop,1.59
2,Bacon,,It's Tops Coffee Shop,9.49
3,Cheese,"choice of: cheddar, american, monterey jack",It's Tops Coffee Shop,8.28
4,Chicken-Apple Sausages,,It's Tops Coffee Shop,10.49

In [6]:
pd_rest_table['Restaurant Name'] = [x.decode('utf-8') for x in pd_rest_table['Restaurant Name']]
pd_rest_table['Item Description'] = [x.decode('utf-8') for x in pd_rest_table['Item Description']]
pd_rest_table['Menu Item'] = [x.decode('utf-8') for x in pd_rest_table['Menu Item']]

In [96]:
#pd_rest_table.to_pickle('pd_rest_table')
pd_rest_table = pd.read_pickle('pd_rest_table')
## pd_rest_table contains decoded version of stuff
#pd_rest_table = pd.read_pickle('pd_rest_table')
pd_rest_table.head()

,Menu Item,Item Description,Restaurant Name,Price,tfidf_vector
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",It's Tops Coffee Shop,6.95,"(0, 11190)\t0.280021822207\n (0, 5974)\t0.2..."
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,It's Tops Coffee Shop,1.59,"(0, 2998)\t0.288167280114\n (0, 8336)\t0.27..."
2,Bacon,,It's Tops Coffee Shop,9.49,"(0, 1481)\t1.0"
3,Cheese,"choice of: cheddar, american, monterey jack",It's Tops Coffee Shop,8.28,"(0, 8778)\t0.404589418384\n (0, 11039)\t0.5..."
4,Chicken-Apple Sausages,,It's Tops Coffee Shop,10.49,"(0, 14667)\t0.489158869139\n (0, 3790)\t0.8..."

In [51]:
#pd_rest_table['tfidf_vector'].apply(lambda x: x.todense())
#too big!
pd_rest_table = pd_rest_table[["Menu Item","Item Description","Restaurant Name","Price"]]

In [52]:
pd_rest_table.to_sql('rest_table', engine, if_exists='replace')

In [59]:
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [26]:
sql_query = """
SELECT * FROM rest_table;
"""
rest_data_from_sql = pd.read_sql_query(sql_query,con)

In [60]:
sql_query = """ SELECT DISTINCT "Restaurant Name" FROM rest_table """
test = pd.read_sql_query(sql_query,con)

In [77]:
test.iloc[1]['Restaurant Name']

'Perfect Hamburger'

In [8]:
rests = []
#query_results = rest_data_from_sql
query_results = pd_rest_table

In [27]:
rests = []
for i in range(0,query_results.shape[0]):
    try:
        rests.append(dict(index=query_results.iloc[i]['index'], menu_item=query_results.iloc[i]['Menu Item'], desc=query_results.iloc[i]['Item Description'], name = query_results.iloc[i]['Restaurant Name'], price = query_results.iloc[i]['Price']) )
    except:
        #rests.append(dict(index='Weird codec error', menu_item='Weird codec error', desc='Weird codec error', name = 'Weird codec error', price = 'Weird codec error') )
        print i
        rests = []
        break

In [29]:
len(rests)

51908

In [9]:
def encoding_hack(text):
    text_int = text.encode("utf-8")
    out_text = text_int.decode("utf-8").encode('ascii','ignore')
    return out_text

In [29]:
badidx = []
for i in range(0,query_results.shape[0]):
    index_print = query_results.iloc[i]['index']
    
    try:
        menu_print = query_results.iloc[i]['Menu Item']
        desc_print = query_results.iloc[i]['Item Description']
        name_print = query_results.iloc[i]['Restaurant Name']
        price_print = query_results.iloc[i]['Price']
        
        menu_print = encoding_hack(menu_print)
        desc_print = encoding_hack(desc_print)
        name_print = encoding_hack(name_print)
        price_print = encoding_hack(price_print)
        
    except:
        badidx.append(i)

    

    #rests.append(dict(index=index_print, menu_item=menu_print, desc=desc_print, name=name_print, price=price_print) )

In [30]:
with open('badidx.pickle', 'w') as f:  # Python 3: open(..., 'wb')
    pickle.dump(badidx, f)

In [10]:
with open('badidx.pickle') as f:  # Python 3: open(..., 'rb')
    badidx = pickle.load(f)

In [11]:
pd_rest_table_dropped = query_results[~query_results.index.isin(badidx)]

In [12]:
pd_rest_table_dropped.to_sql('rest_table', engine, if_exists='replace',index='False')

In [36]:
pd_rest_table_dropped.loc[903]['Menu Item']

u"Lox, Eggs \xc2\x91n' Golden Onion Scramble"

In [78]:
pd_rest_table.head()

,Menu Item,Item Description,Restaurant Name,Price
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",It's Tops Coffee Shop,6.95
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,It's Tops Coffee Shop,1.59
2,Bacon,,It's Tops Coffee Shop,9.49
3,Cheese,"choice of: cheddar, american, monterey jack",It's Tops Coffee Shop,8.28
4,Chicken-Apple Sausages,,It's Tops Coffee Shop,10.49

In [91]:
all_amrests_df[(all_amrests_df['Restaurant Name'] == 'Delancey Street') & (all_amrests_df['Menu Item'] == 'Filet Of Smoked Trout')].index.values[0]

50568

In [92]:
all_amrests_df.shape

(51908, 7)

In [93]:
pd_rest_table.shape

(51908, 4)

In [95]:
pd_rest_table[(pd_rest_table['Restaurant Name'] == 'Delancey Street') & (pd_rest_table['Menu Item'] == 'Filet Of Smoked Trout')]

,Menu Item,Item Description,Restaurant Name,Price
50568,Filet Of Smoked Trout,"with basil aioli, snap peas, &amp; roma tomatoes",Delancey Street,6.95

In [97]:
pd_rest_table.head()

,Menu Item,Item Description,Restaurant Name,Price,tfidf_vector
0,Two Egg Breakfasts,"with home-fried potatoes &amp; choice of rye, ...",It's Tops Coffee Shop,6.95,"(0, 11190)\t0.280021822207\n (0, 5974)\t0.2..."
1,Weekday Special,add one buttermilk hot cake to any egg breakfa...,It's Tops Coffee Shop,1.59,"(0, 2998)\t0.288167280114\n (0, 8336)\t0.27..."
2,Bacon,,It's Tops Coffee Shop,9.49,"(0, 1481)\t1.0"
3,Cheese,"choice of: cheddar, american, monterey jack",It's Tops Coffee Shop,8.28,"(0, 8778)\t0.404589418384\n (0, 11039)\t0.5..."
4,Chicken-Apple Sausages,,It's Tops Coffee Shop,10.49,"(0, 14667)\t0.489158869139\n (0, 3790)\t0.8..."

In [129]:
all_amrests_df.iloc[10001:10006]

,Menu Item,Item Description,Price,Menu Item + Description Text,Restaurant Name,desc_list,desc_list_lem
10001,Pretzel Dippers,"jalapeno aioli, yellow mustard, bbq honey mustard",8.75,"Pretzel Dippers jalapeno aioli, yellow mustard...",Lucky Strike Lanes,"[pretzel, dippers, jalapeno, aioli, yellow, mu...","[pretzel, dipper, jalapeno, aioli, yellow, mus..."
10002,Classic Sliders,"* 3 sliders with tillamook cheddar, acon, brio...",10.95,Classic Sliders * 3 sliders with tillamook che...,Lucky Strike Lanes,"[classic, sliders, 3, sliders, tillamook, ched...","[classic, slider, 3, slider, tillamook, chedda..."
10003,Gigante Chicken Nachos,"tillamook white cheddar, oaxaca, piece de gall...",14.50,Gigante Chicken Nachos tillamook white cheddar...,Lucky Strike Lanes,"[gigante, chicken, nachos, tillamook, white, c...","[gigante, chicken, nacho, tillamook, white, ch..."
10004,Gigante Chicken Nachos,add short rib,3.00,Gigante Chicken Nachos add short rib,Lucky Strike Lanes,"[gigante, chicken, nachos, add, short, rib]","[gigante, chicken, nacho, add, short, rib]"
10005,Chipotle Chicken Quesadilla,"oaxaca, tillamook white cheddar, chipotle, arb...",10.50,"Chipotle Chicken Quesadilla oaxaca, tillamook ...",Lucky Strike Lanes,"[chipotle, chicken, quesadilla, oaxaca, tillam...","[chipotle, chicken, quesadilla, oaxaca, tillam..."

In [143]:
corpus = ['ham,cheese,eggs','ham,pineapple,cheese,pizza']

In [145]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=1)
vectorizer.fit_transform(corpus).todense()

matrix([[ 0.50154891,  0.70490949,  0.50154891,  0.        ,  0.        ],
        [ 0.40993715,  0.        ,  0.40993715,  0.57615236,  0.57615236]])

In [144]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(min_df=1)
vectorizer.fit_transform(corpus).todense()

matrix([[1, 1, 1, 0, 0],
        [1, 0, 1, 1, 1]])